@{
    ViewData["Title"] = "Privacy Policy";
}
<h4>@TempData["message"]</h4> @* Lấy dữ liệu trực tiếp từ tempData*@

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
